@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #9EF8EE, #22BABB);
}

main {
    background-color: white; /*cor de fundo*/
    border-radius: 5px; /*bordas da caixa*/
    width: 400px; /*largura*/
    box-shadow: 5px 5px 15px rgba(27, 71, 71, 0.795); /*sombreamento*/
    padding: 10px; /*preenchimento/espaçamento*/
    size: 100px; /*tamanho*/
    margin: auto; /*distanciamento*/
}

h1 {
    color: #F24405;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(141, 42, 6, 0.788);
}

h2 {
    color: #FA7F08;
}

p {
    text-align: justify;
}